version: '3.9'

services:
  reverse-proxy:
    image: nginx:alpine
    container_name: reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
    - ./conf.d/nginx-prod.conf:/etc/nginx/conf.d/default.conf:ro
      # si tenés archivos estáticos extra:
      # - ./static/:/usr/share/nginx/html:ro
      # si usás certs de letsencrypt en la VM:
      # - /etc/letsencrypt/live/tu-dominio:/etc/letsencrypt/live/tu-dominio:ro
      # - /etc/letsencrypt/archive/tu-dominio:/etc/letsencrypt/archive/tu-dominio:ro
    depends_on:
      - ui-service
      - authorization-service
      - snippet-service
      - runner-service
      - asset-service
      - redis
    networks:
      - printscript-net
    restart: unless-stopped


  ui-service:
    image: ghcr.io/ingsis25/printscript-ui:latest
    container_name: ui-service
    expose:
      - "80"          # visible solo dentro de Docker
    networks:
      - printscript-net
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - printscript-net
    restart: unless-stopped

  authorization-service:
    image: ghcr.io/ingsis25/authorization-service:prod
    container_name: authorization-service
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_AUTHDB}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME_AUTHDB}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD_AUTHDB}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY}
      NEW_RELIC_APP_NAME: Snippet Search
      AUTH0_MANAGEMENT_AUDIENCE: ${AUTH0_MANAGEMENT_AUDIENCE}
      AUTH0_MANAGEMENT_CLIENT_ID: ${AUTH0_MANAGEMENT_CLIENT_ID}
      AUTH0_MANAGEMENT_CLIENT_SECRET: ${AUTH0_MANAGEMENT_CLIENT_SECRET}
    depends_on:
      - auth-db
      - redis
    networks:
      - printscript-net
    restart: unless-stopped

  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: authuser
      POSTGRES_PASSWORD: authpass
    networks:
      - printscript-net
    restart: unless-stopped

  snippet-service:
    image: ghcr.io/ingsis25/snippet-service:prod
    container_name: snippet-service
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_SNIPPET}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME_SNIPPET}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD_SNIPPET}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY}
      NEW_RELIC_APP_NAME: Snippet Searcher
    depends_on:
      - snippet-db
      - redis
    networks:
      - printscript-net
    restart: unless-stopped

  snippet-db:
    image: postgres:15
    container_name: snippet-db
    environment:
      POSTGRES_DB: snippetdb
      POSTGRES_USER: snippetuser
      POSTGRES_PASSWORD: snippetpass
    networks:
      - printscript-net
    restart: unless-stopped

  runner-service:
    image: ghcr.io/ingsis25/runner-service:prod
    container_name: runner-service
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_RUNNER}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME_RUNNER}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD_RUNNER}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY}
      NEW_RELIC_APP_NAME: Snippet Searcher
    depends_on:
      - redis
    networks:
      - printscript-net
    restart: unless-stopped

  runner-db:
    image: postgres:15
    container_name: runner-db
    environment:
      POSTGRES_DB: runnerdb
      POSTGRES_USER: runneruser
      POSTGRES_PASSWORD: runnerpass
    networks:
      - printscript-net
    restart: unless-stopped

  asset-service:
    image: ghcr.io/austral-ingsis/snippet-asset-service:latest
    container_name: asset-service
    expose:
      - "8080"
    environment:
      STORAGE_BUCKET_PATH: /data
      NEW_RELIC_APP_NAME: asset-service
      NEW_RELIC_AGENT_ENABLED: false
    volumes:
      - ./data:/data
    networks:
      - printscript-net
    restart: unless-stopped

networks:
  printscript-net:
    external: true
