services:
  reverse-proxy:
    image: nginx:alpine
    container_name: reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./conf.d/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - ui-service
      - authorization-service
      - snippet-service
      - runner-service
    networks:
      - printscript-net
    restart: unless-stopped

  ui-service:
    image: ghcr.io/ingsis25/printscript-ui-dev:latest
    container_name: ui-service
    expose:
      - "80"
    networks:
      - printscript-net
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - printscript-net
    restart: unless-stopped

  authorization-service:
    image: ghcr.io/ingsis25/authorization-service:dev
    container_name: authorization-service

    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_AUTHDB}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME_AUTHDB}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD_AUTHDB}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY}
      NEW_RELIC_APP_NAME: Snippet Searcher
      AUTH0_MANAGEMENT_AUDIENCE: ${AUTH0_MANAGEMENT_AUDIENCE}
      AUTH0_MANAGEMENT_CLIENT_ID: ${AUTH0_MANAGEMENT_CLIENT_ID}
      AUTH0_MANAGEMENT_CLIENT_SECRET: ${AUTH0_MANAGEMENT_CLIENT_SECRET}
    depends_on:
      - auth-db
      - redis
    networks:
      - printscript-net

  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: authuser
      POSTGRES_PASSWORD: authpass
    networks:
      - printscript-net


  snippet-service:
    image: ghcr.io/ingsis25/snippet-service:dev
    container_name: snippet-service
    # ports:
    #   - "8081:8080"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_SNIPPET}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME_SNIPPET}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD_SNIPPET}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY}
      NEW_RELIC_APP_NAME: Snippet Searcher
    depends_on:
      - snippet-db
      - redis
    networks:
      - printscript-net

  snippet-db:
    image: postgres:15
    container_name: snippet-db
    environment:
      POSTGRES_DB: snippetdb
      POSTGRES_USER: snippetuser
      POSTGRES_PASSWORD: snippetpass
    networks:
      - printscript-net
    # ports:
    #   - "5433:5432"

  runner-service:
    image: ghcr.io/ingsis25/runner-service:dev
    container_name: runner-service
    # ports:
    #   - "8082:8080"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_RUNNER}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME_RUNNER}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD_RUNNER}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY}
      NEW_RELIC_APP_NAME: Snippet Searcher
    depends_on:
      - redis
    networks:
      - printscript-net


networks:
  printscript-net:
    external: true
